@use "var/color" as *;
@use "var/font" as *;
@use "scope/global" as *;
@use "fn/sea" as *;
@use "fn/alert" as *;

@media only screen and (max-device-width : 768px), only screen and (max-width : 768px) {
  .title {
    font-size: 3rem !important;
  }
  .index-box {
    .t-form {
      max-width: 80% !important;
      width: 100% !important;
      padding: 0 1rem !important;
      label {font-size: 1.8rem !important;}
      input {font-size: 1.65rem !important;}
    }
    .results {
      max-width: unset !important;
    }
  }
}
.turtle-box {
  position:absolute;
  top: 20%;
  right: 2%;
  opacity: 80%
}
.index-box {
  display: flex;
  position: relative;
  align-content: center;
  text-align: center;
  .title {
    @include SyneMono;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 4.44rem;
  }
  .t-form {
    background-color: $bg_secondary;//darken($background, 13%);
    border: 0.1rem solid darken($bg_secondary, 1%);
    border-radius: 0.33rem;
    align-self: center;
    max-width: 15rem;
    opacity: 0.97;
    input[type=file] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      outline: none;
    }
  }
  .results {
    display: flex;
    margin: 1rem 5rem 0;
    line-break: anywhere;
    align-self: center;
    gap: .5rem;
    max-width: 50%;
    .result-table {
      flex: 1 1 auto;
    }
  }
  .result-table {
    //margin: .5rem 7rem 0;
    padding: 0.13rem;
    background-color: darken($background, 15%);
    border: 0.2rem solid darken($background, 25%);
    border-radius: 0.33rem;
    min-width: fit-content;
    div {
      color: darken($text, 16%);
      overflow: hidden;
      line-break: anywhere;
      line-height: 1rem;
      max-height: 2rem;
    }
    .copy-wrapper {
      position: relative;
      margin: 0 0 0 0.3rem;
      width: 1.44rem;
      user-select: none;
      img {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: all 100ms ease-in;
      }
      &:hover {
        img:first-child {
          transform: translate(-50%, -50%) scale(115%);
        }
      }
      img:last-child {
        opacity: 0;
        scale: 0;
      }
      &.success {
        img:first-child {
          transform: translate(-50%, -50%) scale(0);
        }
        img:last-child {
          opacity: 1;
          scale: 100%;
        }
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      & > tbody > tr {
        //&:not(:nth-child(1)) {
        border-top: 0.1rem solid darken($background, 25%);
        //}
        th, td {
          min-width: fit-content;
          text-align: center;
          padding: 0.15rem 0.5rem;
          margin: 0;
        }
        th {
          text-wrap: pretty;
        }
        td {
          display: flex;
          max-height: 35vw;
          overflow: hidden;
          justify-content: center;
          a {
            width: fit-content;
            overflow: hidden;
            overflow-wrap: anywhere;
            align-self: center;
          }
        }
      }
    }
  }
}
.flex-col {
  flex-flow: column;
}
.t-form {
  display: flex;
  align-content: center;
  padding: 0.55rem 0;
  animation: green_glow 5s infinite;
  input {
    color: inherit;
    border: unset;
    transition: all 60ms ease-in;
    padding: 0.2rem;
  }
  label {
    display: flex;
    flex-flow: column;
    padding: 0.7rem 0;
    width: 100%;
    &[for=alias] {
      padding:0;
    }
  }
  input[type=text], input[type=date], input[type=datetime-local],
  input[type=url], input[type=password], [for="searchable"]>a[href] {
    font-size: 1rem;
    background-color: darken($bg_secondary, 4%);
    align-content: center;
    padding: 0 1rem;
    &:focus {
      outline: 0.1rem solid darken($bg_secondary, 6%);
    }
    &:hover {
      background-color: darken($bg_secondary, 8%);
    }
    &::-webkit-datetime-edit-day-field:focus,
    &::-webkit-datetime-edit-month-field:focus,
    &::-webkit-datetime-edit-year-field:focus,
    &::-webkit-datetime-edit-hour-field:focus,
    &::-webkit-datetime-edit-minute-field:focus, {
        background-color: darken($bg_secondary, 4%);
        color: lighten($text, 3%);
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 3.125rem darken($bg_secondary, 15%) inset !important;
      background-color: transparent !important;
      background-clip: text;
      -webkit-text-fill-color: $text !important;
    }
  }
  input[type=submit] {
    background-color: darken($background, 16%);
    font-size: 1.1rem;
    align-self: center;
    width: 50%;
    border-radius: 0.15rem;
    margin: 0.5rem 0;
    &:hover {
      background-color: darken($background, 20%);
    }
  }
  sup {
    color: darken($text, 8%);
    font-size: 0.7rem;
  }
}
.tools {
  position: fixed;
  bottom: 0.75%;
  right: 0.75%;
  z-index: 2;
  input[type="image"] {
    height: 2rem;
    transition: all 40ms ease-out;
    filter: blur(0.075rem);
    &:hover {
      transform: scale(1.35) rotateZ(-45deg);
      filter: unset;
    }
  }
  .broom {
    &:hover {
      animation: sweep 2s infinite;
    }
  }
}
@keyframes sweep {
  0% { transform: rotateZ(-15deg); }
  50% { transform: rotateZ(-55deg); }
  100% { transform: rotateZ(-15deg); }
}
@keyframes green_glow {
  0% {box-shadow: 0 0 0.55rem 0.05rem lighten($background, 6%);}
  50% {box-shadow: -0.25 -0.25 1.55rem 0.5rem lighten($background, 12%);}
  100% {box-shadow: 0 0 0.55rem 0.05rem lighten($background, 6%);}
}
#wrapper-content {
  position: relative;
  z-index: 5;
}
.mobile {
  display: none;
}