$base-font-size: 1rem;
$animation-bubble: bubble 15s ease-in-out infinite, sideWays 4s ease-in-out infinite alternate;
$base-opacity: 0.2;

@mixin bubble($width, $height, $left, $delay, $duration, $opacity: $base-opacity, $bottom: -1.875rem) {
  width: $width;
  height: $height;
  left: $left;
  animation-delay: $delay;
  animation-duration: $duration;
  opacity: $opacity;
  bottom: $bottom;
}

.bubbley {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -1.875rem;
  opacity: 0.2;
  animation: $animation-bubble;

  &--1 {
    @include bubble(1.875rem, 1.875rem, 10%, 0.5s, 16s);
  }

  &--2 {
    @include bubble(0.9375rem, 0.9375rem, 40%, 1s, 10s, 0.1);
  }

  &--3 {
    @include bubble(0.625rem, 0.625rem, 30%, 5s, 20s, 0.3);
  }

  &--4 {
    @include bubble(1.5625rem, 1.5625rem, 40%, 8s, 17s);
  }

  &--5 {
    @include bubble(1.875rem, 1.875rem, 60%, 10s, 15s, 0.1);
  }

  &--6 {
    @include bubble(0.625rem, 0.625rem, 80%, 3s, 30s, 0.4);
  }

  &--7 {
    @include bubble(0.9375rem, 0.9375rem, 90%, -7s, 25s, 0.3);
  }

  &--9 {
    @include bubble(1.25rem, 1.25rem, 50%, -5s, 19s, 0.2, 1.875rem);
  }

  &--10 {
    @include bubble(2.5rem, 2.5rem, 30%, -21s, 16s, 0.3, 1.875rem);
  }

  &--11 {
    @include bubble(1.875rem, 1.875rem, 60%, -13.75s, 20s, 0.3, 1.875rem);
  }

  &--12 {
    @include bubble(1.5625rem, 1.5625rem, 90%, -10.5s, 19s, 0.3, 1.875rem);
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 12.5rem;
  }
}

#sea-effects {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(0deg, #182848, #2980b9);
  overflow: hidden;
  z-index: 0;
}