@use "../var/font" as *;
@use "../fn/scrollbar" as *;
@import "../var/color";
nav {
  position: sticky;
  top: 0;
  min-height: 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0.75rem;
  padding: 0.2rem 1.2rem 0.2rem;
  justify-items: center;
  background-color: darken($background, 10%);
  box-shadow: 0 0 2rem 0.5rem darken($background, 12%);
  z-index: 13;
  .left {
    justify-self: start;
    .title {
      @include SyneMono;
      font-size: xx-large;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    img {
      max-height: 1.75rem;
    }
  }
  .collapsable {
    display: flex;
    user-select: none;
    .burger {
      /*top: 0.5rem;
      right: 0.5rem;*/
      display: flex;
      justify-content: end;
      //align-content: center;
      img {
        margin: 0.45rem; padding: 0;
        height: 2.5rem;
        transition: 0.2s all ease-in;
      }
    }
    .items {
      top: 2rem;
      right: 2rem;
      padding: 0;
      perspective: 1000px;
      & > a {
        display: inline-block;
        height: 1.7rem;
        text-align: center;
        align-content: center;
        &:hover {
          background-color: lighten($background, 3%);
          border-radius: 0.1rem;
          transition: 0.2s all cubic-bezier(.52,.22,.25,.81);
          transform: rotateX(-10deg) scale(1.06);
        }
      }
      form.search {
        display: flex;
        align-items: center;
        height: 2rem;
        border: 0.1rem solid darken($background, 15%);
        border-radius: 0.2rem;
        input:hover {
          background-color: darken($background, 5%) !important;
        }
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 3.125rem darken($background, 15%) inset !important;
          background-color: transparent !important;
          background-clip: text;
          -webkit-text-fill-color: $text !important;
        }
        input[type="image"] {
          background-color: darken($background, 7%);
          height: 1.75rem;
          padding: 0.15rem;
          margin: 0.05rem;
          border-radius: 0.15rem;
        }
        label {
          border-right: 0.1rem solid darken($background, 15%);
          height: 100%; width: 100%;
          align-content: center;
          overflow: hidden;
        }
        input[type="text"] {
          background-color: darken($background, 10%);
          border: none;
          padding: 0 0 0 0.5rem; //left 0.5rem
          height: 100%; width: 100%;
          color: $text;
          &:focus {
            background-color: darken($background, 5%);
            outline: none;
          }
        }
      }
      #searchResult {
        @include scrollie-hidden;
        display: flex;
        flex-flow: column;
        //flex-wrap: wrap;
        margin-bottom: -3rem;
        background-color: darken($background, 6%);
        //width: 100%;
        width: 15rem;
        overflow: scroll;
        gap: 0.1rem;
        border: 0.1rem solid darken($background, 15%);
        .result {
          display: flex;
          align-items: center;
          background-color: darken($background, 3%);
          &:hover {
            background-color: darken($background, 7%);
          }
          .shortcode {
            padding: 0 0.25rem;
            color: darken($text, 10%);
            font-size: 0.85rem;
            &:hover {
              background-color: darken($background, 12%);
            }
          }
        }
      }
    }
    &[data-collapsable=true] {
      flex-flow: column;
      .items {
        display: flex;
        position: absolute;
        flex-flow: column;
        height: 0;
        overflow: hidden;
        transition: 0.2s all cubic-bezier(.52,.22,.25,.81);
        & > a {
          padding: 0 0.45rem;
        }
      }
      &[data-collapsed=true] {
        .items {
          opacity: 0;
        }
      }
      &[data-collapsed=false] {
        .items {
          opacity: 1;
          //background-color: darken($background, 7%);
          //box-shadow: 0 0 0.05rem 0.02rem lighten($background, 5%);
          //margin: 0.5rem;
          margin: 0.75rem 2rem;
          border-top-right-radius: 0.3rem;
          height: 5rem;
        }
        .burger > img {
          transform: rotateZ(90deg);
        }
      }
    }
    &:not([data-collapsable]), &[data-collapsable=false] {
      flex-flow: row;
      .burger {
        opacity: 0;
        img {
          margin: 0;
        }
      }
      .items {
        opacity: 0;
        padding: 0 0.5rem;
        > a {
          padding: 0.05rem 0.25rem;
        }
      }
    }
    &[data-collapsable=false] {
      .items {
        opacity: 1;
        animation: 1.5s cubic-bezier(.65,.23,.21,.88) popout;
      }
    }
  }
}
.dropdown {
  max-height: 2rem;
  & > img {
    max-height: inherit !important;
  }
  .linkIcon {
    display: none;
  }
  .dropdown-menu {
    display: none;
    opacity: 0;
    flex-flow: row-reverse;
    transition: 0.2s all ease-in;
    position: absolute;
    top: 3.5rem;
    right: 0;
    transform: translateX(-18%);
    background-color: darken($background,3%);
    border-radius: 0.2rem;
    padding: 0.15rem 0.3rem;
    gap: 0.2rem;
    & > a {
      display: flex;
      flex-flow: column;
      font-size: 0.6rem;
      color: $text;
      text-decoration: none;
      align-items: center;
      transition: 0.2s all cubic-bezier(.52,.22,.25,.81);
      border-radius: 0.2rem;
      &:hover {
        transform: scaleX(105%);
        background-color: lighten($background, 3%);
        color: $pink_lobster;
      }
    }
  }
  &:hover {
    opacity: 1;
    & > .dropdown-menu {
      opacity: 1;
      display: flex;
      margin-top: -1rem;
    }
  }
}